In [ ]:
print('Hello worl')

In [ ]:
print('first python code')

In [ ]:
a = 5

In [ ]:
a

In [ ]:
a = 10
b= 20
c = a*b

In [ ]:
c

In [ ]:
len = "what"

In [ ]:
print(len)

In [ ]:
len(what)

In [ ]:
len('what')

In [ ]:
string = ['hello']

In [ ]:
string[1]

In [ ]:
mystring = "hello to new world"

In [ ]:
mysting[1]

In [ ]:
mystring[1]

In [ ]:
mystring = 'abcdefhijk'

In [ ]:
mystring[2:]

In [ ]:
mystring[:2]

In [34]:
mystring = 'abcdef'

In [35]:
mystring [2:]

'cdef'

In [ ]:
mystring[1:4]

In [36]:
mystring[:3]

'abc'

mystring[4:]

In [ ]:
mystring[4:]

In [ ]:
mystring = 'deepak'

In [ ]:
mystring

In [ ]:
mystring[1:]

In [ ]:
mystring[:2]

In [ ]:
mystring[2:4]

In [ ]:
mystring[1:]

In [ ]:
mystring[:4]

In [ ]:
mystring[3:4]

In [ ]:
mystring[3:6]

In [ ]:
mystring[3:5]

In [ ]:
mystring[1:]

In [ ]:
mystring[:3]

In [37]:
mystring[::-1]

'fedcba'

In [39]:
a = "Hello World"

In [ ]:
a[8]

In [41]:
a[4:6]

'o '

In [ ]:
val = "tinker"

In [ ]:
val[1:4]

In [42]:
name  = 'SAM'

In [43]:
name

'SAM'

In [44]:
name[1:]

'AM'

In [45]:
x = name[1:]

In [46]:
x

'AM'

In [47]:
P + x

NameError: name 'P' is not defined

In [48]:
'P' + x

'PAM'

In [49]:
x  = "Hello WOrld"

In [ ]:
x.upper()

In [ ]:
x.lower()

In [ ]:
x.splitlines

In [50]:
name = "deepak"
value = 100.3456785

In [51]:
print('this is {}'.format(name))

this is deepak

In [ ]:
print('this is value of {v}'.format(v = value))

In [52]:
print('this is new value of {v:1.2f}'.format(v = value))

this is new value of 100.35

In [ ]:
rem = 1000 / 3

In [ ]:
rem

In [ ]:
print('the value of {r:5.3f}'.format(r= rem))

In [ ]:
print(f'the value of f is {rem}')

print('the value of

In [ ]:
print('the value of f is {f:2.3f}'.format(f = rem))

In [ ]:
print(f'the value of f is {rem:2.3f}')

In [ ]:
print('I like {apple}'.format(apple = 'apples'))

In [ ]:
print('I like {f}'.format(f = 'apples'))

In [ ]:
print('i go the job at {job}'.format(job = 'genpect'))

In [53]:
new_list = ['one', 'two', 'three']

In [ ]:
new_list

In [54]:
new_list.append('four')

In [55]:
new_list

['one', 'two', 'three', 'four']

In [ ]:
new_list.pop()

In [ ]:
new_list

In [ ]:
new_list.append('five')

In [ ]:
new_list

In [ ]:
new_list[1:]

In [ ]:
new_list[:1]

In [ ]:
new_list.sort()

In [ ]:
new_list

In [ ]:
new_list.append('5')

In [ ]:
new_list

In [ ]:
new_list.append(6)

In [ ]:
mix_list = new_list

In [ ]:
mix_list

In [ ]:
mix_list.sort()

In [ ]:
mix_list.pop()

In [ ]:
mix_list

In [ ]:
mix_list.pop(0)

In [ ]:
mix_list

In [56]:
dic  = {'k1':100, 'k2':200, 'k3':300 }

In [ ]:
dic['k2']

In [ ]:
dic['k2'] = 210

In [ ]:
dic

In [57]:
dic.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [58]:
dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [59]:
dic.values()

dict_values([100, 200, 300])

In [60]:
dic['k2'] = [10,20,30]

In [61]:
dic

{'k1': 100, 'k2': [10, 20, 30], 'k3': 300}

In [ ]:
dic['k2'][1]

In [63]:
dic['k3'] = {'key1':'apple','key2':'mango'}

In [ ]:
dic

In [64]:
dic['k3']['key2'] = 3000

In [65]:
dic

{'k1': 100, 'k2': [10, 20, 30], 'k3': {'key1': 'apple', 'key2': 3000}}

In [ ]:
dic.items()

In [ ]:
t = (1,2,3)

In [ ]:
t[1]

In [ ]:
t[2] = 4

In [ ]:
t = [1,2,3]

In [ ]:
t[2] = 4

In [ ]:
t

In [ ]:
t = (1,2,3,4)

In [ ]:
t.sort()

In [ ]:
t.pop()

In [ ]:
t.append = 5

In [ ]:
new_set = set()

In [66]:
new_set = [1,2,3,3,3,4,4,5,6]

In [67]:
set(new_set)

{1, 2, 3, 4, 5, 6}

In [68]:
new_set=[7,88]

In [69]:
set(new_set)

{7, 88}

In [70]:
old_set = set()

In [71]:
old_set = [66,10,5,9]

In [72]:
comb_set = new_set + old_set

In [73]:
comb_set

[7, 88, 66, 10, 5, 9]

In [ ]:
comb_set.sort()

In [ ]:
comb_set

In [ ]:
old_set = [10,6,8]

In [ ]:
comb_set

In [74]:
new_set = set('Mississippi')

In [75]:
new_set

{'M', 'i', 'p', 's'}

In [ ]:
1 == 1

In [ ]:
1 === 1

In [ ]:
'1' == 1

In [ ]:
one > two

In [ ]:
one = 1
two = 2
one < two

In [ ]:
pwd

In [76]:
%%writefile mytext.txt
hello to this world
this is my first file

Overwriting mytext.txt

In [77]:
myfile = open('mytext.txt')

In [ ]:
myfile

In [78]:
myfile.read()

'hello to this world\nthis is my first file'

In [ ]:
myfile.read()

In [81]:
myfile.seek(0)

0

In [ ]:
myfile.read()

In [ ]:
myfile.readline()

In [ ]:
myfile.seek(0)

In [80]:
myfile.readline()

'hello to this world\n'

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [82]:
myfile.readlines()

['hello to this world\n', 'this is my first file']

In [ ]:
myfile[0]

In [ ]:
myfile.read()

In [83]:
myfile.seek(0)

0

In [ ]:
myfile.readlines(0)

In [84]:
%%writefile myfile.txt
Hello This is the first line.
Hello This is the Second line.
Hello This is the Third line.
Hello This is the forth line.

Overwriting myfile.txt

In [85]:
with open('myfile.txt') as f:
    content = f.read()
    print(content)

Hello This is the first line.
Hello This is the Second line.
Hello This is the Third line.
Hello This is the forth line.

In [86]:
with open('myfile.txt', mode='a') as value:
    value.write('\nThis is the fifth line');

In [87]:
with open('myfile.txt', mode='w') as f:
    f.write('Removing the previous code')

In [88]:
with open('myfile.txt', mode = 'r') as f:
    print(f.read())

Removing the previous code

In [89]:
with open('myfile.txt', mode='w') as w:
    w.write('Hello World')
with open('myfile.txt', mode='r') as n:
    print(n.read())

Hello World

In [ ]:
a=14
if a == 10:
    print('hello')
elif a == 12:
    print('this is twelve')
else:
    print('out of the loop')

In [ ]:
mylist = [1,2,3,4,5,6,7]
for item in mylist:
 print(item)

In [90]:
mydic = {'k1':'a','k2':'b','k3':'c'}
for item in mydic.items():
    print(item)

('k1', 'a')
('k2', 'b')
('k3', 'c')

In [ ]:
mynum = {('k1','a'),('k2','b'),('k3','c')}
for x,y in mynum:
    print(y)

In [91]:
x=0
while x<5 :
    print(f'the value of num is {x}')
    x +=1

the value of num is 0
the value of num is 1
the value of num is 2
the value of num is 3
the value of num is 4

In [ ]:
print('hello')

In [1]:
print('hellow')

hellow

In [1]:
x=0
while x<5 :
    if x == 2:
        break
    print(f'the value of num is {x}')
    x +=1

the value of num is 0
the value of num is 1

In [94]:
x=0
for i in range(1,11,3):
    print(x)
    x +=1

0
1
2
3

In [95]:
for x in enumerate('abcde'):
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [97]:
text = 'deepak singh'
x=0
for letter in text:
    print('my first name is {} and my last name is {}'.format(x,letter))
    x +=1

my first name is 0 and my last name is d
my first name is 1 and my last name is e
my first name is 2 and my last name is e
my first name is 3 and my last name is p
my first name is 4 and my last name is a
my first name is 5 and my last name is k
my first name is 6 and my last name is
my first name is 7 and my last name is s
my first name is 8 and my last name is i
my first name is 9 and my last name is n
my first name is 10 and my last name is g
my first name is 11 and my last name is h

In [101]:
index = 0
word = 'abcd'
for value in word:
    print(value[index])
    x +=1

a
b
c
d

In [102]:
for x in enumerate('testing'):
    print(x)

(0, 't')
(1, 'e')
(2, 's')
(3, 't')
(4, 'i')
(5, 'n')
(6, 'g')

In [28]:
myvalue = input('hello')

hello test

In [29]:
myvalue

'test'

In [31]:
my_new = int(input("what's your fav num"))

what's your fav num 10

In [32]:
my_new

10

In [110]:
mystring = "Hello"
value = []
for x in mystring:
    value.append(x)
print(value)

['H', 'e', 'l', 'l', 'o']

In [115]:
mystring = "Hello"

In [118]:
mynew = [letter for letter in mystring]

mynew

In [119]:
mynew

['H', 'e', 'l', 'l', 'o']

In [120]:
pattern = [x for x in range(0,11)]

In [121]:
pattern

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
sq_root = [sq**2 for sq in range(0,10)]

In [123]:
sq_root

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [124]:
temp = [t for t in 'word']

In [125]:
temp

['w', 'o', 'r', 'd']

In [126]:
ev = [num for num in range(0,11) if num % 2 == 0]

In [127]:
ev

[0, 2, 4, 6, 8, 10]

In [133]:
mylist = []
for x in [2,3,4]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [141]:
st = 'Print only P'
for x in st:
    if x == 'P':
     print(x)
     break

P

In [152]:
my_r = []
for x in range(1,11):
    if x%3 == 0 and x%5 == 0:
        print('fizzBuzz')
    elif x%3 == 0:
        print('fizz')
    elif x%5 == 0:
        print('Buzz')
    else:
        print(x)

1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz

In [157]:
def my_func(x= 'NONE'):
    print('Hello World')

In [158]:
my_func()

Hello World

In [164]:
def check_dog(mystring):
    if 'dog' in mystring:
        return True

In [165]:
check_dog('this is dog here')

True

In [175]:
# Good programmer
pass
def new_dog(myvalue):
    return 'dog' in myvalue.lower()

In [174]:
new_dog('where is my dog')

True

In [179]:
def pig_lating(mystring):
    f = mystring[0]
    if mystring in 'aieou':
        letter = mystring + 'ay'
    else:
        letter = mystring[1:] + f + 'ay'
    return letter

In [182]:
pig_lating('apple')

'ppleaay'

In [183]:
def my_func(*args):
    print(args)

In [184]:
my_func(10,20,30)

(10, 20, 30)

In [185]:
def your_func(**kwargs):
    print(kwargs)

In [186]:
your_func(fruit='orange',food='veg')

{'fruit': 'orange', 'food': 'veg'}

In [195]:
def combined_both(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I eat {} belly {}'.format(args[1],kwargs['k1']))

In [196]:
combined_both(10,20,30,40,k1='Mango',k2='veggie')

(10, 20, 30, 40)
{'k1': 'Mango', 'k2': 'veggie'}
I eat 20 belly Mango

In [209]:
def myfunc(*args):
    for x in args:
        if x % 2 == 0:
            return x

In [210]:
myfunc(1,3,5,10,20,7,30)

10

In [211]:
nums = [1,2,3,4,5,6]

In [219]:
list(map(lambda x : x**2, nums))

[1, 4, 9, 16, 25, 36]

In [221]:
rem = lambda y : y%2 == 0

In [223]:
rem(9)

False

In [224]:
class Car():
    def __init__(self,wheels,color,model):
        self.wheels = wheels
        self.color=color
        self.model=model
        pass

In [225]:
my_car = Car(wheels='Four',color='Silver',model='Brezza')

In [226]:
my_car.wheels

'Four'

In [227]:
my_car.color

'Silver'

In [228]:
my_car.model

'Brezza'

In [229]:
my_list = (10,20,30,40)

In [230]:
my_list

(10, 20, 30, 40)

In [231]:
my_list[2] = 33

TypeError: 'tuple' object does not support item assignment

In [232]:
u_list = [1,2,3,4,5]

In [233]:
u_list

[1, 2, 3, 4, 5]

In [240]:
for x in u_list:
    x[1] = 77

TypeError: 'int' object does not support item assignment

In [235]:
u_list

[1, 10, 3, 4, 5]

In [244]:
for x in my_list:
    x = 44
    x +=1
    print(x)

45
45
45
45